# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Facultate\Year-III\Sem-I\APD\APD\Labs\Lab6_Atomic-Structures-and-Operations\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
